.ace-tm .ace_marker-layer .ace_selection {
    background: #0000ff;
}

div.ace_layer.ace_text-layer {
    margin: 0 !important;
}

.ace_active-line {
    background: #000000 !important;
}

.ace_trace,
.ace_debug,
.ace_info,
.ace_warning,
.ace_error {
    padding-left: 4px;
    padding-top: 1px;
    display: inherit;
}
